/* Bootstrap import (recommended way) */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "tailwindcss";
body {
  margin: 0;
  font-family: 'Press Start 2P', monospace;
  background-color: black;
  color: white;
}

/* Background */
.pixel-bg {
  background-color: black;
}

/* Card Container */
.pixel-wrapper {
  background-color: black;
  border: 3px solid white;
  color: white;
  width: 100%;
  max-width: 600px;
  position: relative;
}

/* Hard Offset Shadow */
.pixel-wrapper::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  z-index: -1;
}

/* Title */
.pixel-title {
  font-size: 22px;
  letter-spacing: 3px;
}

/* Subtitle */
.pixel-sub {
  font-size: 12px;
  color: #ccc;
}

/* Buttons */
.pixel-btn {
  background: black;
  color: white;
  border: 3px solid white;
  border-radius: 0;
  padding: 15px;
  font-size: 14px;
  transition: 0.15s ease-in-out;
}

.pixel-btn:hover {
  background: white;
  color: black;
}

/* Divider */
.pixel-divider {
  border-top: 2px dashed white;
}
